@use "normalize";
@use "base";

body {
  background-color: var(--bg);
  color: var(--tx);
  font-family: var(--font-sans);
  font-size: 1rem;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1em;

  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex: 1;
}

a {
  color: var(--tx);
}

footer {
  font-size: 0.8em;
  font-weight: 500;
  color: var(--tx-2);

  a {
    color: inherit
  }
}